@tailwind base;
@tailwind components;
@tailwind utilities;
body {
	background-color: #2a5a40;
}
#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.subtitle {
	font-family: "Dancing Script";
	line-height: 3rem;

}

* {
    scrollbar-width: none; /* Firefox */
	font-family: "PT Sans";
	letter-spacing: 0.5px;
}

*::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

